<section #headerSection class="header-section d-flex align-items-center justify-content-between flex-wrap-reverse">
  <!--start bg icons-->
  <div class="header-icons">
    <img #headerIcon1 class="bg-icon header-icon1" src="assets/images/pages/icons/chocolate.png" alt="Jahez App" />
    <img #headerIcon2 class="bg-icon header-icon2" src="assets/images/pages/icons/coffee.png" alt="Jahez App" />
    <img #headerIcon3 class="bg-icon header-icon3" src="assets/images/pages/icons/food.png" alt="Jahez App" />
    <img #headerIcon4 class="bg-icon header-icon4" src="assets/images/pages/icons/skincare.png" alt="Jahez App" />
    <img #headerIcon5 class="bg-icon header-icon5" src="assets/images/pages/icons/skincare2.png" alt="Jahez App" />
    <img #headerIcon6 class="bg-icon header-icon6" src="assets/images/pages/icons/vintage.png" alt="Jahez App" />
    <img #headerIcon7 class="bg-icon header-icon7" src="assets/images/pages/icons/trending-video.png" alt="Jahez App" />
    <!-- <img #headerIcon8 class="bg-icon header-icon8" src="assets/images/pages/icons/tailors-dummy.png" alt="Jahez App" /> -->
  </div>
  <!--end bg icons-->
  <div class="header-text mt-4" #headerText>
    <h1 class="fs-32" #headerTitle>{{'HEADER.TITLE' | translate}}</h1>
    <p class="fs-20">{{'HEADER.SUBTITLE' | translate}}</p>
    <div class="app-badges" #appBadges>
      <a href="#" aria-label="Download on the App Store">
        <img src="assets/images/pages/icons/app-store-badge.svg" alt="App Store">
      </a>
      <a href="#" aria-label="Get it on Google Play">
        <img src="assets/images/pages/icons/google-play-badge.svg" alt="Google Play">
      </a>
    </div>
  </div>
  <div class="header-image" #headerImage>
    <img class="bg-image" src="assets/images/pages/images/mobile-bg.png" alt="Jahez App" />
    <div class="page">
      <img #page1 class="page-1" src="assets/images/pages/images/mobile-page-header1.png" alt="Jahez App" />
      <img #page2 class="page-2" src="assets/images/pages/images/mobile-page-header2.png" alt="Jahez App" />
    </div>
  </div>
</section>