<div #joinUsContainer class="join-us-container">
  <div class="container">

    <h2 #title class="join-us-title fs-32">
      {{ 'JOIN_US.TITLE' | translate }} 
      <img  #fireFlame src="assets/images/pages/gifs/fire-flame.gif" alt="join-us-title" class="fire-flame">
    </h2>
    <p #desc class="join-us-desc fs-18">
      {{ 'JOIN_US.DESC' | translate }}
    </p>
    <div class="btns">

      <button #button class="join-us-btn">{{ 'JOIN_US.BUTTON' | translate }}</button>
    </div>
    <div #footer class="join-us-footer">
      <span #privacy class="join-us-privacy">{{ 'JOIN_US.PRIVACY' | translate }}</span>
      <span #terms class="join-us-terms">{{ 'JOIN_US.TERMS' | translate }}</span>
    </div>
  </div>
</div> 