<div #wrapper class="wrapper d-flex gap-4 flex-column flex-lg-row flex-lg-nowrap justify-content-center align-items-center">
  <!--start bg icons-->
  <div class="header-icons">
    <img #headerIcon1 class="header-icon1" src="assets/images/pages/icons/martini.png" alt="Jahez App" />
    <img #headerIcon2 class="header-icon2" src="assets/images/pages/icons/skincare.png" alt="Jahez App" />
    <img #headerIcon3 class="header-icon3" src="assets/images/pages/icons/trending-video.png" alt="Jahez App" />
  </div>
  <!--end bg icons-->
  
  <div #imagesContainer class="images-container slider-two d-none d-lg-flex">
    <img class="images-slide" src="assets/images/pages/images/service1.jpeg" alt="image">

      <img class="images-slide" src="assets/images/pages/images/service2.jpeg" alt="image">


      <img class="images-slide" src="assets/images/pages/images/service3.png" alt="image">

  </div>

  <div #imagesContainerMobile class="images-container-mobile slider-two d-flex d-lg-none w-100 mt-5">
    <div class="image-slide">

      <img src="assets/images/pages/images/service1.jpeg" alt="image">
    </div>

    <div class="image-slide">
      <img  src="assets/images/pages/images/service2.jpeg" alt="image">
    </div>

    <div class="image-slide">
      <img  src="assets/images/pages/images/service3.png" alt="image">
    </div>
  </div>

  <div #textSlider class="text-slider">
    <div class="slider slider-one">
        <div class="slide d-flex flex-column justify-content-center align-items-center">
          <h2 class="fs-20 fw-bold">{{"Who is ready" | translate}}</h2>
          <p class="fs-18">{{"who-is-ready-desc" | translate}}</p>

        </div>
        <div class="slide d-flex flex-column justify-content-center align-items-center">
          <h2 class="fs-20 fw-bold">{{"Why is ready" | translate}}</h2>
          <p class="fs-18">{{"why-is-ready-desc" | translate}}</p>

        </div>
    </div>
  
    <div class="buttons">
      <button id="prev">
          <i class="fa-solid fa-arrow-right"></i>

      </button>
      <button id="next">
          <i class="fa-solid fa-arrow-left"></i>
      </button>
    </div>
  </div>
</div>