<footer #footer class="site-footer">
  <div class="promo-banner">
    <div class="container">
      <p>{{ 'FOOTER.PROMOTIONAL_TEXT' | translate }}</p>
      <a href="#" class="login-btn">{{ 'FOOTER.LOGIN_BUTTON' | translate }}</a>
    </div>
  </div>
  <div class="main-footer">
    <div class="container">
      <div class="salla-info">
        <p>{{ 'FOOTER.SALLA_PRODUCT' | translate }}</p>
        <img src="assets/images/pages/icons/salla.png" alt="Salla Logo" class="salla-logo">
      </div>
      <div class="copyright-info">
        <p>{{ 'FOOTER.COPYRIGHT' | translate }}</p>
      </div>
    </div>
  </div>
</footer> 