<footer #footer class="site-footer">
  
  <div class="main-footer">
    <div class="container">
      <div class="salla-info">
        <p>{{ 'FOOTER.SALLA_PRODUCT' | translate }}</p>
        <img src="assets/images/pages/icons/core/ettigah-logo.png" alt="Ettigah Logo" class="salla-logo">
      </div>
      <!-- <div class="copyright-info">
        <p>{{ 'FOOTER.COPYRIGHT' | translate }}</p>
      </div> -->
    </div>
  </div>
  <div class="promo-banner">
    <div class="container">
      <p class="text-center">{{ 'FOOTER.PROMOTIONAL_TEXT' | translate }}</p>
    </div>
  </div>
</footer> 